.animals-list {
text-align:center;
}

.animals-list .animal {
width:20em;
height:25em;
background-size:100%;
display:inline-block;
position:relative;
vertical-align:top;
}

.animals-list .animal.bee .body,.animals-list .animal.bee .wings,.animals-list .animal.bee .sting,.animals-list .animal.bee .eye {
left:50%;
position:absolute;
}

.animals-list .animal.bee .body {
z-index:5;
width:16.5em;
height:21em;
top:4em;
margin-left:-8.25em;
-moz-border-radius:18em;
-webkit-border-radius:18em;
-o-border-radius:18em;
-ms-border-radius:18em;
-khtml-border-radius:18em;
border-radius:18em;
background-image:linear-gradient(top,#3a210b,#3a210b39%,#ffde1b39%,#ffde1b49%,#3a210b49%,#3a210b59%,#ffde1b59%,#ffde1b69%,#3a210b69%,#3a210b79%,#ffde1b79%,#ffde1b89%);
}

.animals-list .animal.bee .wings {
z-index:4;
width:25em;
height:8.4em;
top:12.2em;
margin-left:-12.5em;
background:#b9e3db;
-moz-border-radius:9em;
-webkit-border-radius:9em;
-o-border-radius:9em;
-ms-border-radius:9em;
-khtml-border-radius:9em;
border-radius:9em;
}

.animals-list .animal.bee .sting {
z-index:3;
width:0;
height:0;
top:24.5em;
margin-left:-1.2em;
border-left:1.2em solid transparent;
border-right:1.2em solid transparent;
border-top:2.4em solid #3a210b;
}

.animals-list .animal.bee .eye {
z-index:6;
width:1.8em;
height:1.8em;
top:6.7em;
background:#3a210b;
border:.9em solid #fffcf3;
-moz-border-radius:2em;
-webkit-border-radius:2em;
-o-border-radius:2em;
-ms-border-radius:2em;
-khtml-border-radius:2em;
border-radius:2em;
}

.animals-list .animal.bee .eye.left {
margin-left:-4.6em;
}

.animals-list .animal.bee .eye.right {
margin-left:1em;
}

.animals-list .animal.bird .body,.animals-list .animal.bird .wing,.animals-list .animal.bird .eye,.animals-list .animal.bird .beak-up,.animals-list .animal.bird .beak-down {
left:45%;
position:absolute;
}

.animals-list .animal.bird .body {
z-index:5;
width:16.5em;
height:16.5em;
top:6.8em;
margin-left:-8.25em;
background:#8abe34;
-moz-border-radius:8em 0;
-webkit-border-radius:8em 0;
-o-border-radius:8em 0;
-ms-border-radius:8em 0;
-khtml-border-radius:8em 0;
border-radius:8em 0;
-moz-box-shadow:0 0 2em rgba(0,0,0,0.05) inset;
-webkit-box-shadow:0 0 2em rgba(0,0,0,0.05) inset;
-o-box-shadow:0 0 2em rgba(0,0,0,0.05) inset;
box-shadow:0 0 2em rgba(0,0,0,0.05) inset;
}

.animals-list .animal.bird .wing {
z-index:6;
width:8.25em;
height:8.25em;
top:15em;
margin-left:-8.25em;
background:#4a7014;
-moz-border-radius:4em 0;
-webkit-border-radius:4em 0;
-o-border-radius:4em 0;
-ms-border-radius:4em 0;
-khtml-border-radius:4em 0;
border-radius:4em 0;
}

.animals-list .animal.bird .eye {
z-index:6;
width:1.8em;
height:1.8em;
top:9.1em;
margin-left:2.3em;
background:#366917;
border:.9em solid #fcfcf4;
-moz-border-radius:2em;
-webkit-border-radius:2em;
-o-border-radius:2em;
-ms-border-radius:2em;
-khtml-border-radius:2em;
border-radius:2em;
}

.animals-list .animal.bird .beak-up {
z-index:7;
width:4em;
height:4em;
top:6.8em;
margin-left:8.25em;
background:#fcaf26;
-moz-border-radius-topright:3.8em;
-webkit-border-top-right-radius:3.8em;
-o-border-top-right-radius:3.8em;
-ms-border-top-right-radius:3.8em;
-khtml-border-top-right-radius:3.8em;
border-top-right-radius:3.8em;
}

.animals-list .animal.bird .beak-down {
z-index:7;
width:2em;
height:2em;
top:10.8em;
margin-left:8.25em;
background:#f79327;
-moz-border-radius-bottomright:1.8em;
-webkit-border-bottom-right-radius:1.8em;
-o-border-bottom-right-radius:1.8em;
-ms-border-bottom-right-radius:1.8em;
-khtml-border-bottom-right-radius:1.8em;
border-bottom-right-radius:1.8em;
}

.animals-list .animal.penguin .body,.animals-list .animal.penguin .body-black,.animals-list .animal.penguin .head,.animals-list .animal.penguin .foot,.animals-list .animal.penguin .eye,.animals-list .animal.penguin .beak-up,.animals-list .animal.penguin .beak-down {
left:48%;
position:absolute;
}

.animals-list .animal.penguin .body {
z-index:5;
width:15em;
height:20em;
top:5.5em;
margin-left:-7.5em;
background:#f9fdf5;
-moz-border-radius:7.5em 0;
-webkit-border-radius:7.5em 0;
-o-border-radius:7.5em 0;
-ms-border-radius:7.5em 0;
-khtml-border-radius:7.5em 0;
border-radius:7.5em 0;
-moz-box-shadow:0 0 2em rgba(0,0,0,0.1) inset;
-webkit-box-shadow:0 0 2em rgba(0,0,0,0.1) inset;
-o-box-shadow:0 0 2em rgba(0,0,0,0.1) inset;
box-shadow:0 0 2em rgba(0,0,0,0.1) inset;
}

.animals-list .animal.penguin .body-black {
z-index:6;
width:7.5em;
height:20em;
top:5.5em;
margin-left:-7.5em;
background:#1c1b16;
-moz-border-radius:7.5em 0;
-webkit-border-radius:7.5em 0;
-o-border-radius:7.5em 0;
-ms-border-radius:7.5em 0;
-khtml-border-radius:7.5em 0;
border-radius:7.5em 0;
}

.animals-list .animal.penguin .head {
z-index:6;
top:5.5em;
width:7.5em;
height:7.5em;
overflow:hidden;
}

.animals-list .animal.penguin .head .head-fix {
height:inherit;
background:transparent;
-moz-border-radius-topleft:7.5em;
-webkit-border-top-left-radius:7.5em;
-o-border-top-left-radius:7.5em;
-ms-border-top-left-radius:7.5em;
-khtml-border-top-left-radius:7.5em;
border-top-left-radius:7.5em;
-moz-box-shadow:0 -3em 0 #1c1b16,-3em 0 0 #1c1b16,-3em -3em 0 #1c1b16;
-webkit-box-shadow:0 -3em 0 #1c1b16,-3em 0 0 #1c1b16,-3em -3em 0 #1c1b16;
-o-box-shadow:0 -3em 0 #1c1b16,-3em 0 0 #1c1b16,-3em -3em 0 #1c1b16;
box-shadow:0 -3em 0 #1c1b16,-3em 0 0 #1c1b16,-3em -3em 0 #1c1b16;
}

.animals-list .animal.penguin .eye {
z-index:7;
width:1.7em;
height:1.7em;
top:7.6em;
margin-left:3.5em;
background:#1c1b16;
border:.8em solid #f9dd1e;
-moz-border-radius:2em;
-webkit-border-radius:2em;
-o-border-radius:2em;
-ms-border-radius:2em;
-khtml-border-radius:2em;
border-radius:2em;
}

.animals-list .animal.penguin .foot {
z-index:4;
width:6.4em;
height:1.7em;
top:23.8em;
background:#fcaf26;
-moz-border-radius-topright:2em;
-webkit-border-top-right-radius:2em;
-o-border-top-right-radius:2em;
-ms-border-top-right-radius:2em;
-khtml-border-top-right-radius:2em;
border-top-right-radius:2em;
}

.animals-list .animal.penguin .beak-up {
z-index:7;
width:4em;
height:4em;
top:5.5em;
margin-left:7.5em;
background:#fcaf26;
-moz-border-radius-topright:3.8em;
-webkit-border-top-right-radius:3.8em;
-o-border-top-right-radius:3.8em;
-ms-border-top-right-radius:3.8em;
-khtml-border-top-right-radius:3.8em;
border-top-right-radius:3.8em;
}

.animals-list .animal.penguin .beak-down {
z-index:7;
width:2em;
height:2em;
top:9.5em;
margin-left:7.5em;
background:#f79327;
-moz-border-radius-bottomright:1.8em;
-webkit-border-bottom-right-radius:1.8em;
-o-border-bottom-right-radius:1.8em;
-ms-border-bottom-right-radius:1.8em;
-khtml-border-bottom-right-radius:1.8em;
border-bottom-right-radius:1.8em;
}

.animals-list .animal.wale .body,.animals-list .animal.wale .tummy,.animals-list .animal.wale .eye,.animals-list .animal.wale .fin,.animals-list .animal.wale .flappers,.animals-list .animal.wale .flappers-small {
left:52%;
position:absolute;
}

.animals-list .animal.wale .body {
z-index:5;
width:16.5em;
height:16.5em;
top:5.5em;
margin-left:-8.25em;
background:#44bcda;
-moz-border-radius:8em 0;
-webkit-border-radius:8em 0;
-o-border-radius:8em 0;
-ms-border-radius:8em 0;
-khtml-border-radius:8em 0;
border-radius:8em 0;
}

.animals-list .animal.wale .tummy {
z-index:5;
width:12.5em;
height:12.5em;
top:9.5em;
margin-left:-4.25em;
background-size:2.2em 100%;
background-repeat:repeat-x;
-moz-border-radius:8em 0;
-webkit-border-radius:8em 0;
-o-border-radius:8em 0;
-ms-border-radius:8em 0;
-khtml-border-radius:8em 0;
border-radius:8em 0;
background-image:linear-gradient(left,#c3dce080%,#f2f6f080%,#f2f6f090%,#c3dce090%);
}

.animals-list .animal.wale .eye {
z-index:6;
width:1.8em;
height:1.8em;
top:8.1em;
margin-left:-5.6em;
background:#389db8;
border:.9em solid #fcfef5;
-moz-border-radius:2em;
-webkit-border-radius:2em;
-o-border-radius:2em;
-ms-border-radius:2em;
-khtml-border-radius:2em;
border-radius:2em;
}

.animals-list .animal.wale .fin {
z-index:4;
width:2em;
height:4.3em;
top:13.7em;
margin-left:-10.25em;
background:#389db8;
-moz-border-radius-topleft:2em;
-webkit-border-top-left-radius:2em;
-o-border-top-left-radius:2em;
-ms-border-top-left-radius:2em;
-khtml-border-top-left-radius:2em;
border-top-left-radius:2em;
}

.animals-list .animal.wale .flappers {
width:6.2em;
height:6.2em;
top:20.55em;
margin-left:-13em;
overflow:hidden;
-moz-border-radius:4em;
-webkit-border-radius:4em;
-o-border-radius:4em;
-ms-border-radius:4em;
-khtml-border-radius:4em;
border-radius:4em;
}

.animals-list .animal.wale .flappers .left,.animals-list .animal.wale .flappers .right {
width:inherit;
height:inherit;
position:absolute;
z-index:7;
-moz-border-radius:4em;
-webkit-border-radius:4em;
-o-border-radius:4em;
-ms-border-radius:4em;
-khtml-border-radius:4em;
border-radius:4em;
}

.animals-list .animal.wale .flappers .left {
background-image:linear-gradient(lefttop,rgba(0,0,0,0) 61% 61%;
-moz-transform:rotate(-26deg);
-webkit-transform:rotate(-26deg);
-o-transform:rotate(-26deg);
-ms-transform:rotate(-26deg);
transform:rotate(-26deg);
}

.animals-list .animal.wale .flappers .right {
background-image:linear-gradient(rightbottom,rgba(0,0,0,0) 61% 61%;
-moz-transform:rotate(26deg);
-webkit-transform:rotate(26deg);
-o-transform:rotate(26deg);
-ms-transform:rotate(26deg);
transform:rotate(26deg);
}

.animals-list .animal.wale .flappers-small {
z-index:3;
width:4.8em;
height:4.8em;
top:21.6em;
margin-left:-2.6em;
overflow:hidden;
-moz-border-radius:4em;
-webkit-border-radius:4em;
-o-border-radius:4em;
-ms-border-radius:4em;
-khtml-border-radius:4em;
border-radius:4em;
}

.animals-list .animal.wale .flappers-small .left,.animals-list .animal.wale .flappers-small .right {
width:inherit;
height:inherit;
position:absolute;
-moz-border-radius:4em;
-webkit-border-radius:4em;
-o-border-radius:4em;
-ms-border-radius:4em;
-khtml-border-radius:4em;
border-radius:4em;
}

.animals-list .animal.wale .flappers-small .left {
background-image:linear-gradient(left,rgba(0,0,0,0) 65% 65%;
-moz-transform:rotate(-24deg);
-webkit-transform:rotate(-24deg);
-o-transform:rotate(-24deg);
-ms-transform:rotate(-24deg);
transform:rotate(-24deg);
}

.animals-list .animal.wale .flappers-small .right {
background-image:linear-gradient(right,rgba(0,0,0,0) 65% 65%;
-moz-transform:rotate(24deg);
-webkit-transform:rotate(24deg);
-o-transform:rotate(24deg);
-ms-transform:rotate(24deg);
transform:rotate(24deg);
}

@media screen and max-width 1850px{
body {
font-size:12px;
}
}

@media screen and max-width 1450px{
body {
font-size:10px;
}

.content .about-page .col {
width:300px;
}
}

@media screen and max-width 1250px{
body {
font-size:10px;
}

.content .about-page .col {
width:250px;
}
}

@media screen and max-width 1024px{
body {
font-size:10px;
}

.content .about-page .col {
width:auto;
float:none;
margin:0 0 25px!important;
}
}

@media screen and max-width 640px{
body {
font-size:8px;
}

}
